name: Deploy Backend FastAPI

on:
  push:
    branches: [main]

env:
  IMAGE: docker.io/samuelfranklindev/autoumail
  TAG: sha-${{ github.sha }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Login Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker Image
        run: docker build -t $IMAGE:$TAG .

      - name: Push Docker Image
        run: docker push $IMAGE:$TAG

      - name: Trigger Render Deploy
        env:
          RENDER_DEPLOY_HOOK: ${{ secrets.RENDER_DEPLOY_HOOK }}
        run: |
          curl -fsS -X POST "$RENDER_DEPLOY_HOOK&imgURL=${IMAGE//\//%2F}%3A${TAG}"